.atext{
    font-size: 2vmin;
}


.atext1{
    font-size: 10vmin;
}

.atext2{
    font-size: 3vmin;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}   