.container-hobbies{
    background-color: #333333;
    padding-top: 50px;
    padding-bottom: 50px;
}

.img-container{
    border: 5px solid white;
    border-radius: 10%;
    width: 100%;
}

.img-hobby1{
    width: 100%;
}
.img-hobby2{
    width: 60%;
}

.img-hobby3{
    width: 80%;
}

.img-hobby4{
    width:  40%;
}


@media (max-width: 576px) {
    .img-hobby1{
        width: 100%;
    }

    
    .img-hobby2{
        width: 60%;
    }

    .img-hobby3{
        width: 80%;
    }

    .img-hobby4{
        width:  40%;
    }
}

@media (min-width: 576px) {
    .img-hobby1{
        width: 100%;
    }

    
    .img-hobby2{
        width: 60%;
    }

    .img-hobby3{
        width: 80%;
    }

    .img-hobby4{
        width:  40%;
    }
}
@media (min-width: 768px) {
    .img-hobby1{
        width: 90%;
    }

    
    .img-hobby2{
        width: 60%;
    }

    .img-hobby3{
        width: 80%;
    }

    .img-hobby4{
        width:  40%;
    }
}
@media (min-width: 992px) {
    .img-hobby1{
        width: 85%;
    }

    
    .img-hobby2{
        width: 60%;
    }

    .img-hobby3{
        width: 80%;
    }

    .img-hobby4{
        width:  40%;
    }
}
@media (min-width: 1200px) {
    .img-hobby1{
        width: 80%;
    }

    
    .img-hobby2{
        width: 55%;
    }

    .img-hobby3{
        width: 80%;
    }

    .img-hobby4{
        width:  40%;
    }

}