.row-hobbies{
    position: relative;
    margin-top: 30%;
    width: 100%;
    height: 70vh;
    background-color: #333333;
}

.row{
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    .row-hobbies{
        position: relative;
        margin-top: 10%;
        width: 100%;
        height: 70vh;
        background-color: #333333;
    }
}


@media (min-width: 768px) {
    .row-hobbies{
        position: relative;
        margin-top: 10%;
        width: 100%;
        height: 70vh;
        background-color: #333333;
    }
    .hob{
        position: absolute;
        top: 35%;
        left: 130%;
    }
}
@media (min-width: 992px) {
    .row-hobbies{
        position: relative;
        margin-top: 10%;
        width: 100%;
        height: 70vh;
        background-color: #333333;
    }
    .hob{
        position: absolute;
        top: 35%;
        left: 130%;
    }
}
@media (min-width: 1200px) {
    .row-hobbies{
        position: relative;
        margin-top: 10%;
        width: 100%;
        height: 70vh;
        background-color: #333333;
    }
    .hob{
        position: absolute;
        top: 35%;
        left: 130%;
    }
}